/*
 * ite- Item editor css
 *
*/
.ite-itemEditor{
    background:url("../img/pic/form_bg.png") repeat-x scroll 0 bottom transparent;
    border:5px solid burlyWood;
    z-index:1000;
    margin:0.5em 0;
    padding:0 10px;
    float:left;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#ite-newItemBtnWrp{
    float:left;
    width:710px;
    margin-bottom:10px;
}

.ite-newItemBtn {
    display:block;
    border: 1px solid burlyWood;

    padding: 3px 10px;
    text-align:center;

    font-size: 1.2em;
    text-decoration:none;
    font-weight: bold;
    background-color: #97CD39;
    color: gray;
    text-shadow:-1px 1px 0 #eee;
    background:transparent url(../img/pic/reg.png) repeat-x scroll 0 0;
    width: 85px;
    outline:medium none;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.ite-newItemBtn span{
    font-size:small;
    vertical-align:top;
    margin-left:0.5em;
    font-weight:normal;
}
a.ite-newItemBtn:hover {
    color: gray;
    text-shadow:-1px 1px 0 #fff;
    background-position: 0 -5px;
}
a.ite-newItemBtn:focus {
    color: gray;
}
.ite-newItemBtnActive span.upDownArr{
    background-position:100% 4px;
}
.ite-newItemFormTop{
    float:left;
    width:100%;
}
.ite-newItemText {
    padding:5px;
    width:630px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ite-itemTypeList{
    position: absolute;
    top: 20px;
    left: -20px;
    width: 200px;
    background-color:#ddd;
    padding:5px;   
}
.ite-itemTypeList .ite-itemType{
    margin-right:5px;
}
.ite-itemTypeCtrl{
    float:left;
    margin:8px 10px 0 0;
    position: relative;
}
.ite-itemType{
    color:white;
    display:block;
    float:left;
    text-align:center;
    width:40px;
    line-height:1.25em;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.ite-datePickerWrp{
    float: left;
}
.ite-tagsAddedWrp{
    /*background:url("../img/icons/tag_deb887_16x16.png") no-repeat scroll 0 10px transparent;*/
    float:left;
    margin-left:10px;
    
}
.ite-tagIcon{
    float:left;
    padding:10px 3px 0 0;
}
.ite-tagsAdded{
    float:left;
    padding-top:10px;
}
.ite-tagAdded{
    background:url("../img/icons/remove_tag.png") no-repeat scroll 100% -40px #CCCCCC;
    color:blue;
    margin-left:0.5em;
    padding:1px 16px 1px 3px;
}
.ite-tagAdded:hover{
    /*background-position: 100% -58px;*/
    background-position: 100% -19px;
}
.ite-itemSaveCtrl{
    margin-top:4px;
    float:right;
}
ul.ite-icons{
    margin:0;
    padding:0;
}
ul.ite-icons li {
    cursor:pointer;
    float:left;
    list-style:none outside none;
    margin:2px;
    padding:4px;
    position:relative;
}