/*
 * itp- Item page css
 *
 */
.itp-item{
	border-bottom:1px dashed #CCCCCC;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	
} 
.itp-activeItem{
	border-color:gray;
	background-color:Linen;
	border:1px solid #ccc;
}
.itp-itemsWrp{
	position:relative;
	margin-bottom:1em;
}
.itp-itemPagenator{
	position:absolute;
	right:0;
	bottom:-15px;
}
.itp-itemTag{
	background-color:Beige;
	border:1px solid;
	color:gray;
	font-size:smaller;
	padding:0 1px;
}
.itp-tagsAddedWrp{
	color: red;
	float: left;
	width: 100%;
}

.itp-targetItem{
	float:left;
	font-weight:bold;
	margin-right:7px;
	text-align:center;
	width:60px;
}

.itp-itemToEdit{
	background-color:#fffff0;
	border-color:gray;
}
.itp-itemHeadLine{
	color:black;
	float:left;
	padding-top:5px;
	position:relative;
	width:100%;
}
.itp-itemToEdit .itp-itemHeadLine {
	background-color:wheat;
}
