/*
 * tgc- tag cloud
 *
 */
 
.tgc-tagCloudWrp{
	background-color:rgba(0, 0, 0, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#cc000000');
	background-color:transparent\9;
	

	left:0;
	padding:6px;
	position:fixed;
	top:0;
	width:500px;
	z-index:11;
	
	-moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0 3px 0 rgba(0, 0, 0, 0.1);
}
.tgc-tagCloudHeader {
	margin:0 0 5px 0;
	padding:0;
	position:relative;
	cursor:move;
	
	-moz-border-radius:4px;
}
.tgc-tagCloudHeader h3 {
	color:#FFFFFF;
	font-size:15px;
	margin:0;
	padding:2px 15px 7px 5px;
	
	-moz-border-radius:5px 5px 5px 5px;
}
/*.twttr-dialog-close .twttr-dialog-inside*/
.tgc-tagCloudClose{
	background:none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000',endColorstr='#cc000000');
	background-color:transparent\9;
	color:#FFFFFF;
	cursor:pointer;
	font:bold 16px/18px Tahoma,sans-serif;
	height:20px;
	position:absolute;
	right:0;
	text-align:center;
	top:0;
	width:20px;
	
	-moz-border-radius:3px 3px 3px 3px;
}

.tgc-tagCloudInner {
	background:none repeat scroll 0 0 #FFFFFF;
	color:#333333;
	padding-top:6px;
	
	-moz-border-radius:4px 4px 4px 4px;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}