/*header*/
.pageheader{
	border-bottom:3px solid #ddd;
	background:#FCFCFC url(../img/pic/header_bg.png) repeat-x scroll 0 100%;
	min-width:75em;
	position: relative;

}

.contentWrapper{
	padding-bottom:1em;
	position:relative;
	min-height:450px;
}

/*reg - login*/
.signUpNow {
	float:left;
	margin:0.5em 1em 0.5em 0;	
	padding-right:3px;	
	position:relative;
}
.signUpNow a {
	float:left;
	font-size:110%;
	color:gray;
	display:block;
	padding:0 0.4em;
}
.signUpNow:hover{
	background-color:#777;			
}
.signUpNow:hover a {
	color:white;
}
.upDownSmallArrow{
	background:url("../img/icons/up_down_arrow_small.png") repeat-x scroll 0 -19px transparent;
	display:block;
	float:left;
	height:16px;
	margin-top:4px;
	width:16px;
}
.logInActive .upDownSmallArrow{
	background-position: 0 -57px;
}


#quickLogin{
	position:absolute;
	top:20px;
	right:0;
	z-index:1000;
}
.quickLoginInner {
	float:left;
	background-color:#9AE4E8;
	border:3px solid silver;
	margin:0 auto;
	padding:5px 10px 5px 30px;
	width:224px;
}
.quickLoginSubmit {
	margin: 3px 0;
}


.quickLoginCheckbox label{
	margin: 4px;
}


p.quickLoginForPas {
	margin-bottom: 0;
}




/*footer*/
.pagefooter {
	background:#BBCCD9 url(../img/pic/footer_bg.png) repeat-x scroll 0 0;
	color:#CCCCCC;
	height:808px;
	overflow:hidden;
}
.footerNote{
	margin-top:1em;
}
.footerNote a{
	color:inherit;
}
/*main part*/
.itemsWrapper{
	position:relative;
}
.itemPagenator{
	position:absolute;
	right:0;
	bottom:-15px;
}
#allItems,#prjItems{
	text-decoration:none;
}
#allPrj, #curPrj{
	border-bottom:1px dashed ;
	padding: 3px 3px 0 3px;
}
#allPrj.activePrj, #curPrj.activePrj{
	background-color: AntiqueWhite;
	border-bottom:1px dashed red;
}
span.activePrj a{
		color:red;
}
#newItem{
  padding:1em 0 1em 1em;
  position:relative;
}
.newItem {
  -moz-border-radius:10px;
  background:-moz-linear-gradient(center top , AntiqueWhite, white 140%) repeat scroll 0 0 transparent;
  background-color:AntiqueWhite;
  border:2px solid;
  color:brown;
  font-size:20pt;
  text-align:center;
  width:85px;
  line-height:1.2em;
  padding:0 0.3em;
}
.newItem span{
	font-size:small;
	vertical-align:top;
	margin-left:0.5em;
}
.targetItem{
  background-color:#eee;
  text-align:center;
}
.textItem{
  background-color:lightyellow;
  border-bottom:1px dashed;
  padding:0 0 0 1em;
}
/*
.typeItem{
  background-color:AntiqueWhite;
  border:2px solid SaddleBrown;
  color:SaddleBrown;
  text-align:center;
}
*/
.statusItem {
  color:blue;
  font-style:italic;
}
.newItemForm {
  margin-bottom:2em;
}
#newItemForm{
  background-color:AliceBlue;
  border:1px solid;
  padding:1em;
  /*position:absolute;
  top:120px;
  left:40px;*/
	-moz-border-radius:10px;
	-moz-box-shadow:0 0 12px;
	z-index:1000;
}
#item {
 	padding:5px 0;
  width:648px;
  -moz-border-radius:5px
}
#threeWays{
	font-size:large;
}
#threeWays a{
	text-decoration:none;
	border-bottom:1px dashed;
}
.item{
	margin-bottom:0.4em;
	padding:3px 0 3px 10px;
	border:1px solid #eee;
}
.activeItem{
	border-color:#eee;
	background-color:#eee
}
a#threeWaysHere{
	border:none;
	color:brown;
	cursor:text;
}
.newProject{
	position:relative;
}
#projectEditor{
	-moz-border-radius:10px 10px 10px 10px;
	-moz-box-shadow:0 0 7px gray;
	background-color:SeaShell;
	border:1px solid #EEEEEE;
	left:80px;
	padding:1em;
	position:absolute;
	top:10px;
	z-index:1000;
}
#newPr{
	-moz-border-radius:5px;
	padding:5px;
}
	







