/*header*/
.pageheader{
    border-bottom:3px solid #ddd;
    background:#FCFCFC url(../img/pic/header_bg.png) repeat-x scroll 0 100%;
    min-width:75em;
    position: relative;

}

.contentWrapper{
    padding-bottom:1em;
    position:relative;
    min-height:450px;
}

/*reg - login*/
.topMenu{
    float:left;
    margin:0.5em 3px .5em 0;
}

.topMenu a {
    font-size:110%;
    color:gray;
    display:block;
    padding:0 0.4em;
    outline : none;
    text-decoration:none;
}
.topMenu a:focus{
    color:gray;
}
.topMenu:hover{
    background-color:silver;			
}
.topMenu:hover a {
    color:white;
}
.upDownArr{
    background:url("../img/icons/up_down_arrow_small.png") no-repeat scroll 100% -15px transparent;
    padding:3px 20px 0 0;
}
.logInHov a span{
    background-position: 100% -53px;
}
.logInAct {
    background-color:silver;
}
.logInAct a,.logInAct a:focus{
    color:white;
}
.logInAct a span{
    background-position: 100% -34px;
    color:black;
}
/*
.upDownSmallArrow{
	background:url("../img/icons/up_down_arrow_small.png") repeat-x scroll 0 -19px transparent;
	display:block;
	height:16px;
	margin:4px 0 0 5px;
	width:16px;
	float:right;
}
.logInActive .upDownSmallArrow{
	background-position: 0 -57px;
}
*/

#quickLogin{
    position:absolute;
    right:75px;
    top:26px;
    z-index:1005;
}
.quickLoginInner {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow:0 0 6px silver;
    float:left;
    background-color:#eee;
    border:3px solid silver;
    margin:0 auto;
    padding:5px 10px 5px 24px;
    width:224px;
}
.quickLoginSubmit {
    margin: 3px 0;
}


.quickLoginCheckbox label{
    margin: 4px;
}


p.quickLoginForPas {
    margin-bottom: 0;
}
#overlay{
    background-color:#ccc;
    /*display:none;*/
    opacity:0.5;
    filter:alpha(opacity=50);
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:1002;
}



/*footer*/
.pagefooter {
    background:#BBCCD9 url(../img/pic/footer_bg.png) repeat-x scroll 0 0;
    color:#CCCCCC;
    height:808px;
    overflow:hidden;
}
.footerNote{
    margin-top:1em;
}
.footerNote a{
    color:inherit;
}
/*main part*/


#allPrj, #curPrj{
    padding: 3px 7px;
}
#allPrj.actPrj, #curPrj.actPrj{
    background-color: AntiqueWhite;
}
span.actPrj a{
    color:black;
    font-weight:bold;

}

.datepicker{
    text-align:center;
    margin-right:3px;
    display:block;
    float:left;
    color:gray;
}

.ui-datepicker-trigger{
    display:block;
    float:left;
    margin-top:9px;
}
#ui-datepicker-div {
    font-size: 85%;
}
#ui-datepicker-div thead th{
    background:none;
}





.itemCrated{
    color:gray;
    font-family:Georgia;
    font-style:italic;
    float:right;
    margin-left:3px;
}








.textItem{
    float:left;
    height:1.8em;
    overflow:hidden;
    width:615px;
}

.itemHead {
    color:DarkBlue;
}






.itT0{
    background-color:blue;
}
.itT1{
    background-color:brown;
}
.itT2{
    background-color:green;
}
.itT3{
    background-color:red;
}


.itS1  span.ite-itemType{
    background-color:gray;
}
.itS3  span.ite-itemType{
    background-color:#ddd;
}
.itS1 .textItem{
    text-decoration:none;
}










.statusItem {
    font-style:italic;
    left:620px;
    padding:1px 3px;
    position:absolute;
}
.itS0 .statusItem {
    color:blue;
}
.itS1 .statusItem {
    color:black;
}
.itS2 .statusItem {
    color:Sienna;
}
.itS3 .statusItem {
    color:red;
}
.itS1 .itemHead {
    color:gray;
    text-decoration:line-through;
}
.activeStatusItem{
    background-color:#ddd;
}



#threeWays{
    font-size:large;
    margin-top:0.2em;
}
#threeWays a{
    text-decoration:none;
    border-bottom:1px dashed;
}



a#threeWaysHere{
    border:none;
    color:brown;
    cursor:text;
}

.datefield{
    -moz-box-shadow:2px 2px 5px gray;
    font-size:small;
    left:0;
    position:absolute;
    text-align:center;
    top:-3px;
}





